@prefix skosmos: <http://purl.org/net/skosmos#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix cfg: <urn:acdh:vocabs:config:> .
cfg:config a skosmos:Configuration ;
  skosmos:serviceName "ACDH Vocabs" ;
  # Replace the service name if the release is not 'vocabs'.
  skosmos:sparqlEndpoint <http://vocabs-vocabs-vinyl:80/skosmos/sparql> ;
  skosmos:sparqlDialect "JenaText" ;
  # configmap.sh adds baseHref from the environment global.publicUrl.
  skosmos:languages ( [ rdfs:label "en" ; rdf:value "en_GB.utf8" ] [ rdfs:label "de" ; rdf:value "de_DE.utf8" ] ) ;
  skosmos:templateCache "/tmp/skosmos-template-cache" .
